.App{
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer{
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:black;
  background:#white;
  padding:8px;
  text-align: center;
}

